/*Marrom: #71563e */
/*Verde: #dcc92e */
/*Bege: #fefed5 */

body {
    background-color: #dcc92e;
}

.nav-treinamento {
    background-color: #71563e;
}

.link-treinamento {
    color: #dcc92e;
}

.link-treinamento:hover {
    color: gainsboro;
}

.carousel-treinamento {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.botao1{
    margin-bottom: 3rem;
}

.cartas {
    display: flex;
    justify-content: space-around;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #fefed5;
    margin-top: 2rem;
  
}

.formulario {
    max-width: 70%;
}