body {
    background-color: #343a40;
    color: #fbfbfb;
}

.container{
    justify-content: center;
}

.navbar{
    background-color: #fbfbfb;
    color: #343a40;
}

.carrosel{
    /* max-width: 900px;  */
    margin-bottom: 10%;
    margin-top: 10%;
}

.footer{
    background-color: #fbfbfb;
}

.lista ul{
    display: flex;
    list-style: none;
}

.lista li{
    padding-left: 7px;
    font-size: 28px;
}

.pe{
    margin-bottom: 0;
    margin-top: 3%;
    color: #343a40;
}