body {
    background-color: #343a40;
    color: #fbfbfb;
}
/* 
.container{
    justify-content: center;
} */

.navbar{
    background-color: #fbfbfb;
    color: #343a40;
}

.carrosel{
    margin-bottom: 10%;
    margin-top: 10%;
}

.footer{
    background-color: #fbfbfb;
}

.lista ul{
    display: flex;
    list-style: none;
}

.lista li{
    padding-left: 10px;
    font-size: 28px;
}

.lista a{
    color: #343a40;
}

.foot{
    margin-bottom: 0;
    margin-top: 3%;
    color: #343a40;
}

.fundo{
    padding-bottom: 3%;
}

.formulario{
    color: #343a40;
} 

.cartao{
    color: #343a40;
}